main {
  width: 90%;
  max-width: 248px;

  margin: auto;
}

.actions-container {
  text-align: center;
}

.page-title {
  width: 100%;
  margin-bottom: 24px;

  text-align: center;
}

.loading {
  text-align: center;
}

.tvs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;

  width: min-content;
  margin: auto;
}
